.container{

width: 200px;
height: 100%;
margin-top: 50px;
position: fixed;
  top: 0;
  left: 0; 
 
}


button{
  
 
  border: none;
  font-size: 16px;
  background-color:white;
  width:90%;
  height: 6%;
  text-align: center;
}

