<div class="container">
    <div class="search">
        <input type="search" #searchInput>
        <button (click)="searchElement(searchInput.value)">Search</button>
    </div>

    <div id="Chapter-one" >
        <h1>Chapter One</h1>
            <p>Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps.</p>
            <p>These Angular docs help you learn and use the Angular framework and development platform, from your first application to 
            complex single-page applications for enterprises.</p>
            <p>Tutorials and guides include downloadable examples to help you start your projects.</p>
    
        <b><p>Introduction</p></b>
            <p>Code that defines how to render the view of a component.</p>
            <p>A template combines straight HTML with Angular data-binding syntax, directives, and template expressions (logical constructs). The Angular elements insert or calculate values that modify the HTML elements before the page is displayed.</p><p> Learn more about Angular template language in the Template Syntax guide.</p>
            <p> A template is associated with a component class through the @Component() decorator.</p>
            <p> Learn more about Angular template language in the Template Syntax guide. </p>  Learn more about Angular template language in the Template Syntax guide.The template code can be provided inline, as the value of the template property, or in a separate HTML file linked through the templateUrl property.
            <p>Additional templates, represented by TemplateRef objects, can define alternative or embedded views, which can be referenced from multiple components.</p>
    </div>
</div>
<app-dropdownlist></app-dropdownlist>