
<div class="container">
    <form  [formGroup]="loginForm" (ngSubmit)="save()" >
    <label>USERNAME:</label><input type="text" formControlName="Username"  ><br><br>
    <label>PASSWORD:</label><input type="password" formControlName="password" ><br><br> 
    <div *ngIf="loginForm.invalid && loginForm.touched" class="error-message ">
       <small>Please enter both username and password.</small> 
      </div>
      <div class="button">
    <button type="submit" [disabled]="loginForm.invalid || isLoggedIn"  >login</button>
   
  </div>
</form>
</div>