.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1978d2;
  height: 50px;
  display: flex;
  justify-content: flex-start; 
  font-weight: bolder;
}
.angular a{
  display: flex;
  color: white;
  padding: 4px 68px; 
  text-decoration: none;
  font-size: xx-large;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.nav-item a {
  display: block;
  color: white;
   
  text-decoration: none;
}

.button {
  margin-left: 57%;
  display: flex;
  align-items: center;
}

.button button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #2980b9;
}

.button button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

