<div class="navigation-bar" >
  <label *ngIf="showcheck">
  <input type="checkbox"[(ngModel)]="showCheckbox" (change)="onCheckboxChange()" class="checkbox"  >
  </label>
  <div class="angular"><a routerLink="/app-angular"  (click)="showcheck=false">Home</a></div>
  <div class="nav-item"><a routerLink="/app-docs" (click)="showcheck=true">Chapters</a></div>
  <div class="nav-item"><a routerLink="/app-community" (click)="showcheck=false">Dropdown</a></div>
  <div class="nav-item"><a routerLink="/app-blog"  (click)="showcheck=false">Table(Json)</a></div>

  <div class="button"><button [disabled]=!isLoggedIn  (click)="logout()"  >logout</button></div>
  
  
</div>
<router-outlet> </router-outlet>

