
<div class="container">
   <div class="content">
    <h1>Dependency injection</h1>
    <p>Dependency injection lets you declare the dependencies of your TypeScript classes without taking care of their instantiation.</p> <p>Instead, Angular handles the instantiation for you.</p> <p>This design pattern lets you write more testable and flexible code.</p> <p>Understanding dependency injection is not critical to start using Angular, but it is strongly recommended as a best practice.</p><p> Many aspects of Angular take advantage of it to some degree.</p>

   <p>To illustrate how dependency injection works, consider the following example.</p>  <p>The first file, logger.service.ts, defines a Logger class.</p><p>This class contains a writeCount function that logs a number to the console.</p>
</div>
<div>
